<nav>
    <div class="nav-wrapper light-green darken-3">
      <ul class="left">
        <li><a href="/users">Home</a></li>
        <li><a href="/stories/new">Add</a></li>
        <li><a href="/stories">All Stories</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>


          