<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Details</title>
</head>
<body>

<section class="add-story">
    <h2>Add User Stories</h2>
    <%= userData%>
    <% if (userData) { %>
      <table>
        <thead>
          <tr>
            <th>Story Title</th>
            <th>Story Description</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    <% } else { %>
      <h5>No Stories Yet</h5>
    <% } %>
        <form action='/projects/<%=projectId%>/stories' method="POST">
            <label>Story Name</label>
            <input type="text" name="storyName">
            <label>Story Description</label>
            <input type="text" name="storyDescription">
            <label>Story Status</label>
            <input type="number" value="1" name="storyStatus">
            <input type="submit"value="Add Story">
        </form>
</section>
</body>
</html>